
<app-search [parentName]="'Regulatory'"></app-search>
<div *ngIf="crss" class="reg_list">
  <div *ngFor="let crs of objectKeys(crss | searchPipe:searchString:'crs_name')">
    <h3>{{ crss[crs].crs_id }}  -  {{ crss[crs].crs_name }}</h3>

    <mat-accordion multi="false">
      <mat-expansion-panel class="add_new_reg">
        <mat-expansion-panel-header class="lab_panel_header">
            <h4>Add New Regulatory Associated with {{ crss[crs].crs_name }}</h4>
        </mat-expansion-panel-header>
        <div>Add Lab</div>
      </mat-expansion-panel>
    </mat-accordion>
    
    <mat-accordion multi="false">
      <mat-expansion-panel class="crss_regs">
        <mat-expansion-panel-header *ngIf="crss[crs].regulatory.crs_id != '' && crss[crs].regulatory.crs_name != ''" class="lab_panel_header">
          <h2 id="lab_name">{{crss[crs].regulatory.id}}.{{ crss[crs].regulatory.crs_id + " - " + crss[crs].regulatory.associated_regulatory_crs }}</h2>
        </mat-expansion-panel-header >
        <div id="lab_info">
          <app-info
            [labReg]="'regulatory'"
            [lab]="crss[crs].regulatory"
            [lable]="'CTU name'"
            [labAtrr]="'ctu_name'">
          </app-info>
          <app-ticket-element
            [ticketatr]="'ctu_name'"
            [labId]="crss[crs].regulatory.id">
          </app-ticket-element>
          <app-info
            [labReg]="'regulatory'"
            [lab]="crss[crs].regulatory"
            [lable]="'Local irb ec name'"
            [labAtrr]="'local_irb_ec_name'">
          </app-info>
          <app-info
            [labReg]="'regulatory'"  
            [lab]="crss[crs].regulatory"
            [lable]="'Other irb ec name'"
            [labAtrr]="'other_irb_ec_name'">
          </app-info>
          <app-info
            [labReg]="'regulatory'"
            [lab]="crss[crs].regulatory"
            [lable]="'Established ibc'"
            [labAtrr]="'established_ibc'">
          </app-info>
          <app-info
            [labReg]="'regulatory'"
            [lab]="crss[crs].regulatory"
            [lable]="'Ibc name'"
            [labAtrr]="'ibc_name'">
          </app-info>
          <app-info
            [labReg]="'regulatory'"
            [lab]="crss[crs].regulatory"
            [lable]="'Language'"
            [labAtrr]="'language'">
          </app-info>
          <app-info
            [labReg]="'regulatory'"
            [lab]="crss[crs].regulatory"
            [lable]="'Cti needed'"
            [labAtrr]="'cti_needed'">
          </app-info>
        </div>
        <mat-action-row>
          <button (click)="deleteLab( crss[crs].regulatory.reg_id, 'regulatory' )" mat-raised-button color="warn">DELETE</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

