<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        ngModel
        required
        placeholder="Lab Name"
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a lab name.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        name="labID"
        ngModel
        required
        placeholder="Lab ID"
        #labID="ngModel">
      <mat-error *ngIf="labID.invalid">Please enter a lab id.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Search</button>
  </form>
</mat-card>
<app-lab-list></app-lab-list>
