.info-text {
  text-align: center;
}

#lab_name {
  font-weight: 400;
  padding-right: 24px;
}

#lab_info div {
  background: rgb(218, 228, 248);
  -moz-box-shadow:    5px 3px 10px 4px #ccc;
  -webkit-box-shadow: 5px 3px 10px 4px #ccc;
  box-shadow:         5px 3px 10px 4px #ccc;
  margin: 18px auto;
  padding: 10px 20px;
}

#lab_info div button {
  margin: auto;
}

mat-action-row button {
  margin: auto;
  width: 50%;
}

.lab_panel_header {
  height: 100% !important;
}

.reg_list {
  margin-top: 18px;
  padding: 0 12px;
  max-height: min-content;
  height: calc(100vh - 225px);
  overflow: auto;
  -moz-box-shadow:    5px 3px 10px 4px #ccc;
  -webkit-box-shadow: 5px 3px 10px 4px #ccc;
  box-shadow:         5px 3px 10px 4px #ccc;
}

.mat-expansion-panel-header.mat-expanded .mat-expansion-panel {
  border: solid 3px black;
}

.mat-expansion-panel-header.mat-expanded #lab_name {
  font-weight: 600;
  margin: 40px auto;
  transition: 2s;
}

.mat-expansion-panel {
  margin: 12px 0;
  -moz-box-shadow:    5px 3px 10px 4px #ccc;
  -webkit-box-shadow: 5px 3px 10px 4px #ccc;
  box-shadow:         5px 3px 10px 4px #ccc;
}
