
<app-search [parentName]="'Ticket Status'"></app-search>
<div class="reg_list">
  <mat-accordion *ngIf="history" multi="false">
    <mat-expansion-panel *ngFor="let ticket of history | searchPipe:searchString:'ticket_status'">
      <mat-expansion-panel-header class="lab_panel_header">
        <h2 id="lab_name">{{ (ticket.ticket_id + 1) + ". " + ticket.ticket_date + " " + ticket.ticket_status }}</h2>
      </mat-expansion-panel-header >
      <div id="lab_info">
        <div fxLayout="row" fxLayoutAlign="center">
          <h3 fxFlex="18%">Email:</h3>
          <h4 fxFlex="60%">{{ ticket.ticket_email }}</h4>
          <button fxFlex="10%" (click)="editLab(lab.lab_id, 'location', lab.location)" mat-raised-button color="primary">EDIT</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <h3 fxFlex="18%">Full Name:</h3>
          <h4 fxFlex="60%">{{ ticket.ticket_fullname }}</h4>
          <button fxFlex="10%" (click)="editLab(lab.lab_id, 'PoC_name', ab.PoC_name)" mat-raised-button color="primary">EDIT</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <h3 fxFlex="18%">atr changed:</h3>
          <h4 fxFlex="60%">{{ ticket.ticket_atr }}</h4>
          <button fxFlex="10%" (click)="editLab(lab.lab_id, 'PoC_address', lab.PoC_address)" mat-raised-button color="primary">EDIT</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <h3 fxFlex="18%">ticket old value:</h3>
          <h4 fxFlex="60%">{{ ticket.ticket_old_value }}</h4>
          <button fxFlex="10%" (click)="editLab(lab.lab_id, 'certification', lab.certification)" mat-raised-button color="primary">EDIT</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <h3 fxFlex="18%">ticket new value:</h3>
          <h4 fxFlex="60%">{{ ticket.ticket_new_value }}</h4>
          <button fxFlex="10%" (click)="editLab(lab.lab_id, 'LDMS', lab.LDMS)" mat-raised-button color="primary">EDIT</button>
        </div>
        <!-- <div fxLayout="row" fxLayoutAlign="center">
          <h3 fxFlex="18%">language:</h3>
          <h4 fxFlex="60%">{{ reg.language }}</h4>
          <button fxFlex="10%" (click)="editLab(lab.lab_id, 'qa_services', lab.qa_services)" mat-raised-button color="primary">EDIT</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <h3 fxFlex="18%">cti_needed:</h3>
          <h4 fxFlex="60%">{{ reg.cti_needed }}</h4>
          <button fxFlex="10%" (click)="editLab(lab.lab_id, 'lab_test_performed', lab.lab_test_performed)" mat-raised-button color="primary">EDIT</button>
        </div> -->
        <!-- <div fxLayout="row" fxLayoutAlign="center">
          <h3 fxFlex="18%">Certified By:</h3>
          <h4 fxFlex="60%">{{ lab.Certified_By }}</h4>
          <button fxFlex="10%" (click)="editLab(lab.lab_id, 'Certified_By', lab.Certified_By)" mat-raised-button color="primary">EDIT</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <h3 fxFlex="18%">Latitude:</h3>
          <h4 fxFlex="60%">{{ lab.Latitude }}</h4>
          <button fxFlex="10%" (click)="editLab(lab.lab_id, 'Latitude', lab.Latitude)" mat-raised-button color="primary">EDIT</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <h3 fxFlex="18%">Longtitude:</h3>
          <h4 fxFlex="60%">{{ lab.Longtitude }}</h4>
          <button fxFlex="10%" (click)="editLab(lab.lab_id, 'Longtitude', lab.Longtitude)" mat-raised-button color="primary">EDIT</button>
        </div> -->
      </div>
      <mat-action-row>
        <button (click)="deleteLab(lab.lab_id)" mat-raised-button color="warn">DELETE</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>

