.info-text {
  text-align: center;
}

#lab_name {
  font-weight: 400;
  padding-right: 24px;
}

.lab_number {
  width: 18%;
}

.add_new_lab {
  background: rgb(253, 242, 242);
}

.crss_labs mat-expansion-panel {
  background: rgb(237, 250, 238);
}

mat-action-row button {
  margin: auto;
  width: 50%;
}

.lab_panel_header {
  height: 100% !important;
}

.lab_list {
  margin-top: 18px;
  padding: 0 12px;
  max-height: min-content;
  height: calc(100vh - 225px);
  overflow: auto;
  -moz-box-shadow:    5px 3px 10px 4px #ccc;
  -webkit-box-shadow: 5px 3px 10px 4px #ccc;
  box-shadow:         5px 3px 10px 4px #ccc;
}

.mat-expansion-panel-header.mat-expanded #lab_name {
  font-weight: 600;
  margin: 40px auto;
  transition: 2s;
}

.mat-expansion-panel {
  width: 93%;
  margin: 8px auto;
}

.lab_is_open {
  opacity: .9;
  position: absolute;
  top: 64px;
  z-index: 90;
  height: calc(100vh - 64px);
  width: 92%;
  overflow: auto;
  margin-left: -20px;
}

.lab_is_open mat-expansion-panel {
  position: absolute;
  width: 100%;
}